// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.ship-icon {
    fill: #33BCFF;
    cursor: pointer;
    &:hover {
        fill: #006699;
    }
}